<form action="/products/edit/<%= product._id %>" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" value="<%= product.name %>" required>
    <input type="number" name="price" value="<%= product.price %>" required>
    <input type="text" name="categoryId" value="<%= product.categoryId %>" required>
    <input type="file" name="image">
    <% if (product.image) { %>
        <img src="<%= product.image %>" alt="Image" width="100">
    <% } %>
    <button type="submit">Cập nhật</button>
</form>
